.cke_wordcount {display:block;float:right;margin-top:-2px;margin-right:3px;color:black;text-align:right;}
.cke_wordcount_rtl {float:left;}
.cke_wordcountLimitReached,
.cke_wordcountMinimumNotReached {color:red}